.title {
  background-color: gray;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color:red;
  outline-style: groove;
}

.img1 {
  float: left;
  width: 200px;
}

.img2 {
  float: right;
  width: 300px; 
  height: 200px;
  border-radius: 35%;
}

.img3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
  
#formOne {
  margin:auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
  text-align:center;
  color:black;
}
  
#result {
  display:none;
}
  
.speech-bubble {
  display:none;
  position: center;
  background: #466b83;
  padding: 15px;
  margin:15px;
  color:black;
  font-size: 25px;
  outline-style: dotted;
}
  
body {
  background: rgb(252, 210, 245);
}