#formOne {
  margin: auto;
  text-align: center;
}

#result {
  display: none;
}

.speech-bubble {
  display: none;
  position: center;
  color: rgb(83, 100, 83);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.title {
  text-align: center;
  padding-top: 30px;
  color: rgb(206, 96, 96);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.column { 
  border-style: solid;
  border-width: thick;
  border-color: tan;
  margin-top: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  background-color: seashell;
} 
